In [5]:
"""
covid_stock_data.py

Script to download daily adjusted close prices for pandemic-sensitive stocks 
from Yahoo Finance using the yfinance API.

Date range: 2020-03-16 to 2023-02-02
Tickers: MRNA, PFE, BNTX, ABT, AMZN, ZM, PTON, DAL, UAL, MAR, HLT, CCL, RCL, M, KSS

Author: Michael Orosz
"""

import yfinance as yf
import pandas as pd

tickers = [
    'MRNA', 'PFE', 'BNTX', 'ABT', 'AMZN', 'ZM', 'PTON',
    'DAL', 'UAL', 'MAR', 'HLT', 'CCL', 'RCL', 'M', 'KSS'
]

start_date = '2020-03-16'
end_date = '2023-02-02'

adj_close = pd.DataFrame()
failed = []

for ticker in tickers:
    try:
        print(f"Downloading: {ticker}")
        df = yf.download(ticker, start=start_date, end=end_date, auto_adjust=False)
        if 'Adj Close' in df.columns:
            adj_close[ticker] = df['Adj Close']
        else:
            raise KeyError("'Adj Close' not found in columns.")
    except Exception as e:
        print(f"Failed for {ticker}: {e}")
        failed.append(ticker)

print("\nDownload complete.")
print("Failed tickers:", failed)
adj_close.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Downloading: MRNA
Downloading: PFE
Downloading: BNTX
Downloading: ABT
Downloading: AMZN
Downloading: ZM

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Downloading: PTON
Downloading: DAL
Downloading: UAL
Downloading: MAR
Downloading: HLT
Downloading: CCL
Downloading: RCL

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Downloading: M
Downloading: KSS

Download complete.
Failed tickers: []

,MRNA,PFE,BNTX,ABT,AMZN,ZM,PTON,DAL,UAL,MAR,HLT,CCL,RCL,M,KSS
Date,,,,,,,,,,,,,,,
2020-03-16,26.490000,22.971848,39.477119,67.131485,84.457497,107.860001,22.250000,35.170010,35.470001,83.969208,68.797096,14.57,29.697399,5.834927,14.435999
2020-03-17,28.180000,24.478945,65.729401,72.444756,90.391998,111.099998,25.450001,31.172743,30.670000,73.106270,64.137413,12.71,27.435873,5.826230,12.912342
2020-03-18,31.580000,24.631178,90.797379,72.235138,91.500000,118.709999,25.790001,23.070189,21.379999,62.000404,56.074486,9.30,22.149063,5.391437,11.841376
2020-03-19,28.270000,23.154522,58.524830,67.897018,94.046501,123.769997,24.990000,21.125576,21.280001,64.905609,57.410057,10.00,22.228413,5.817534,13.049060
2020-03-20,28.200001,22.081287,45.892151,61.973122,92.304497,130.550003,23.010000,20.968431,24.500000,72.464981,60.941921,12.00,23.617069,5.234911,12.038861